<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.visualmath">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <dist:module dist:instant="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.VM_ChatItemViewActivity"
            android:theme="@style/AppTheme.blackStatusBar"></activity>
        <activity
            android:name=".activity.VM_PhotoViewActivity"
            android:theme="@style/AppTheme.blackStatusBar" />
        <activity
            android:name=".activity.VM_ViewActivity"
            android:theme="@style/AppTheme.blackStatusBar" />
        <activity android:name=".activity.VM_GoogleLoginActivity" />
        <activity
            android:name=".activity.VM_ProblemBoxActivity"
            android:theme="@style/AppTheme.notitlebar" />
        <activity
            android:name=".activity.VM_RegisterUserActivity"
            android:theme="@style/AppTheme.blueStatusBar_notitle" />
        <activity
            android:name=".activity.VM_RegiserOtherThingsActivity"
            android:theme="@style/AppTheme.notitlebar" />
        <activity
            android:name=".activity.VM_FullViewActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".VM_RegisterProblemActivity" />
        <activity
            android:name=".activity.VM_TeacherSolveProblemActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.VM_ProblemListActivity"
            android:theme="@style/AppTheme.notitlebar" />
        <activity
            android:name=".activity.TeacherItemListActivity"
            android:theme="@style/AppTheme.notitlebar" />
        <activity android:name=".activity.TeacherHomeActivity" />
        <activity
            android:name=".activity.VM_SettingsActivity"
            android:label="@string/title_activity_vm__settings" />
        <activity android:name=".activity.VM_WebViewActivity" />
        <activity
            android:name=".activity.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".activity.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.visualmath.activity.ItemListActivity" />
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activity.VM_AutoLoginCheckActivity"
            android:theme="@style/AppTheme.blueStatusBar" />
        <activity
            android:name=".activity.VM_LoginActivity"
            android:theme="@style/AppTheme.blueStatusBar" />
        <activity
            android:name=".activity.VM_LauncherActivity"
            android:theme="@style/AppTheme.blueStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" /> <!-- 사진 촬영을 위한 provide -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.visualmath.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>